@import url('https://fonts.googleapis.com/css?family=Montserrat | Jaldi')

// Responsive font size
@import "../node_modules/rfs/sass"

//font variables
$main-font: 'Montserrat', sans-serif
$dagshub-font: 'Jaldi', sans-serif

// Color variables
$bgcolor: rgba(63, 33, 214, 0.5)
$maincolor: rgba(43, 251, 183, 0.6)
$whiterow: rgba(254, 254, 254, .9)
$greyrow: rgba(240, 240, 240, .9)
$white: rgba(254, 254, 254, 1)
$headfootcolor: rgba(26, 16, 54, 0.7)

// Genral rules
body
  background: linear-gradient($bgcolor,$bgcolor), url('assets/datahackbg.jpg') no-repeat center center fixed
  background-size: cover
  font-family: $main-font

h4
  margin: 10px 0

footer
  background-color: $headfootcolor
  .dagshub
    color: $white
    font-family: $dagshub-font
    font-weight: bold
    font-size: 1.4rem
    vertical-align: middle

.fireworks-overlay
    top: 0
    left: 0
    z-index: 9999
    position: fixed
    height: 100%
    width: 100%

// Website Header
.event-name-header
  color: white
  margin: 0
  text-align: center
  font-weight: 900
  +responsive-font-size(30px)

.navbar
  padding: 0
  div
    width: 50vw
    padding: 1rem 2rem
  .logo-sm
    display: none
  .datahack
    background-color: $white
  .sponsor
    background-color: $headfootcolor

// Leaderboard
.container
  width: 550px
  margin: 45px auto 30px
 
.leadheader
  width: 100%
  padding-bottom: 7px
  background: $maincolor
  text-align: center
  & h2
    margin: 0
    color: $white
    padding-top: 20px
    font-size: 30px
  .sponsor-name
    text-transform: capitalize

// Column header  
.colheader 
  background: $whiterow
  width: 100%
  margin-left: 0
  text-align: center
  border-bottom: 1px solid rgba(0,0,0,.2)
  & h4
    font-size: 15px
  & .score
    cursor: pointer
    user-select: none
  & .member
    cursor: pointer
    user-select: none    
    
// User table
.users
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  background: $white
  width: 100%
  height: 50px
  margin: 0
  padding: 5px
  text-align: center
  & .name
    text-align: left
    & a
      padding-top: 15px
      vertical-align: middle
  & .rank
    padding-left: 6px
  &:nth-of-type(odd)
    background: $whiterow
  &:nth-of-type(even)
    background: $greyrow

.goldColor
  background: rgba(255, 215, 0, 0.9) !important

.silverColor
  background: rgba(192, 192, 192, 0.9) !important

.bronzeColor
  background: rgba(205, 127, 50, 0.9) !important

.regColor
  background: rgba(240, 240, 240, 0.9) !important

.leadeheader-h2
    display: grid
    grid-template-columns: 50px auto 50px
    padding-bottom: 7px

.leaderboard-instructions
    font-size: 36px
    color: white
    flex-grow: 1
    grid-column: 1

.leaderboard-header-text
    grid-column: 2

.leaderboard-header-pad
    grid-column: 3

// Media queries  
@media (max-width: 550px)
  .users
    & .name
      padding-left: 5px
    
  .container
    width: 100%
    
@media (max-width: 540px)
  .container
    padding: 0
  .colheader
    & div[class^='col']
      padding: 0
  .users
    text-align: center
    & img
      display: block
      float: none
      margin: 0 auto
      width: 35px
      height: 35px      
    & .name
      text-align: center
      & a
        display: block
        padding-top: 4px

@media (max-width: 690px)
  .navbar
    .logo-sm
      display: block
    .logo-lg
      display: none

@media (min-height: 841px)
  .leaderboard-content
    max-height: 500px
    overflow-y: scroll